---
import IconMenuClose from '../assets/images/icon-menu-close.svg';
const navItems = [
  { name: 'Home', href: '/' },
  { name: 'New', href: '/new' },
  { name: 'Popular', href: '/popular' },
  { name: 'Trending', href: '/trending' },
  { name: 'Categories', href: '/categories' }
];
---

<nav class="bg-Off-white w-64 h-screen absolute right-0 px-[21px] py-[27px]">

  <div class="flex justify-end">
    <IconMenuClose id="close-btn"} class="cursor-pointer" />
  </div>
  <ul class="flex flex-col gap-6 mt-[88px]">
    {navItems.map(item => (
      <li>
        <a href={item.href} class="text-lg cursor-pointer hover:text-Soft-red">
          {item.name}
        </a>
      </li>
    ))}
  </ul>
</nav>

<script>
  const closeBtn = document.getElementById('close-btn') as HTMLImageElement;
  const nav = document.querySelector('nav') as HTMLDivElement;
  closeBtn.addEventListener('click', () => {
    nav.classList.add('hidden');
  });
</script>