---
import { articles } from '../common/articles';
import type { New } from '../common/types';
interface Props {
  styles?: string
}

const {styles = ''} = Astro.props;

---

<section class={`bg-Very-dark-blue text-Off-white py-4 px-6 ${styles}`}>
  <h1 class="text-Soft-orange font-bold text-[32px]">New</h1>
  {
    articles.map(({title, description, url}: New) => (
      <article class="py-8 border-b last:border-none border-Grayish-blue">
        <a href={`/new/${url}`} class="font-extrabold text-xl mb-2 cursor-pointer hover:text-Soft-orange">{title}</a>
        <p class="text-Grayish-blue text-[15px]">{description}</p>
      </article>
    ))
  }
</section>
