<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>News Homepage</title>
	</head>
	<body class="font-Inter flex justify-center bg-Dark-grayish-blue/50">
		<main class="w-[375px] bg-Off-white py-[28px] px-4 relative">
			<slot />
		</main>
	</body>
</html>
